* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 1s, color 1s;
}
a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
}
ul,
ol,
li {
	list-style: none;
}
html {
	font-size: 16px;
}
body {
	--pointColor: #333;
}
